* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
}

.project-container {
    height: 100vh;
    min-width: 200px;
    width: 30%;
    background-color: grey;
    padding: 3rem 2rem;
}

.task-container {
    height: 100vh;
    min-width: 500px;
    width: 80%;
    background-color: rgb(36, 34, 34);
}

.spacer {
    height: 0.1rem;
    border-bottom: solid 0.1rem lightgray;
    margin: 1rem 0 1rem 0;
}

.taskBtn {
    background-color: white;
}